black
cartopy
doctr
fiona
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
folium
hypothesis
isort
matplotlib
nbsphinx
pycodestyle
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
sphinx
twine
